In [3]:
import pandas as pd

In [4]:
keys = [1, 2, 3]
values = [['a', 'b'], ['c', 'd'], ['e', 'f']]

In [13]:
df = pd.DataFrame({values}, index=keys, columns=['test'])

TypeError: unhashable type: 'list'

In [19]:
df = pd.DataFrame({'index': keys, 'values': values}).set_index('index')

In [20]:
df

       values
index
1      [a, b]
2      [c, d]
3      [e, f]

In [29]:
df.explode('values')

      values
index
1          a
1          b
2          c
2          d
3          e
3          f

In [36]:
df.explode('values').crosstab()

AttributeError: 'DataFrame' object has no attribute 'crosstab'

In [30]:
df.T

index        1       2       3
values  [a, b]  [c, d]  [e, f]